<div class = "container">
    
    <div class = "restaurant-container"> 
        <h1>Restaurant App</h1>
    </div>

    <div class = "restaurant-item" *ngFor="let restaurant of restaurantList">
        <div class = "restaurant-row">
            <div>
                <h3>{{restaurant.title}}</h3>
                <p>Godziny otwarcia: {{restaurant.openHours | date:'HH:mm' }}-{{restaurant.closeHours | date:'HH:mm'}}</p>
            </div>
            <div class = "grade">
                <p>Ocena: {{restaurant.grade}}</p>
            </div>
        </div>
    </div>
</div>